<%- include('./partials/header') %>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe For Your Soul</title>
</head>

<body>
    <h1 class="home">Recipe For Your Soul</h1>

    <p class="home">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestiae fugiat quas excepturi sequi distinctio nulla, amet eaque, mollitia numquam aperiam neque sint? Reiciendis deleniti provident molestias, quod nemo beatae.</p>


    <div class="sticky-bottom">
    <% if (user) { %>
        Welcome <%= user.name %>
            <a class='btn btn-danger' href="/logout">Logout</a>
            <% } else { %>
                <a class='btn btn-primary' href="/auth/google">Login To Google</a>
                <% } %>
    </div>
    

 <%- include('./partials/footer') %>